$main-color: #21943f;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #222;
}

%disable{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.wygrywaszWrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}
#wygrywasz {
  position: absolute;
  top: -100px;
  left: -650px;
  z-index: 100;
  font-size: 5rem;
  background-color: #111;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 72px 24px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 72px 24px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 72px 24px rgba(255, 255, 255, 1);
  border-radius: 5px;
  transition: 8s linear;
}

h1 {
  @extend %disable;
  color: $main-color;
  font-size: 3rem;
  text-align: center; 
  font-family: 'Neonderthaw', cursive;
  position: relative;
  margin-top: 30px;
}
#moves {
  margin: 0;
}

button {
  position: absolute;
  right: 100px;
  bottom: 100px;
  display: none;
  background-color: $main-color;
  color: #0a5912;
  border: 5px solid #0a5912;
  border-radius: 5px;
  width: 350px;
  height: 80px;
  font-size: 3rem;
  transition: 0.3s;
  &:hover { cursor: pointer; filter: brightness(120%); }
}

.cardsContainer {
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;

  & > div {
    border: 5px solid $main-color;
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      background-color: goldenrod;
      opacity: 0;
      transition: 0.3s;
    }
  }
  img {
    @extend %disable;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s, filter 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:hover { cursor: pointer; }
  }
  .front {
    transform: rotateY(180deg);
    &:hover { cursor: default; }
  }
  .back {
    &:hover { filter: saturate(180%); }
  }
}

